@model ProductViewModel

<table class="table table-success table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductDtos)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td><a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">Detaya Git</a></td>
                <td><a asp-action="Update" asp-controller="Product" asp-route-id="@item.Id">Güncelle</a></td>
                <td><a asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id">Ürünü sil.</a></td>
            </tr>
            
        }

    </tbody>
</table>
<a asp-controller="Product" asp-action="Create" type="button" class="btn btn-primary">Ürün Ekle</a>
<div class="alert alert-success" role="alert">
    Toplam  stok adedi : @Model.TotalStock
</div>